@use '../../styles/colors' as *;

.category {
  width: 100%;

  &__title {
    align-items: center;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.75rem;
    padding: 0;
    width: 100%;

    &:hover {
      background-color: $secondary-color-hover;
    }
  }

  &__title-text {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.0313rem;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__item {
    align-items: center;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;

    &:hover {
      background-color: $secondary-color-hover;
    }
  }

  &__data-text {
    align-items: start;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    margin-right: 1rem;
    min-width: 0;
  }

  &__name {
    color: $secondary-black;
    font-size: 1rem;
    font-weight: 500;
  }

  &__description {
    color: $tertiary-gray;
    font-size: 1rem;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
  }

  &__price {
    color: $secondary-black;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.0313rem;
  }

  &__img {
    border-radius: 0.25rem;
    flex-shrink: 0;
    max-height: 5.3125rem;
    max-width: 8rem;
    object-fit: cover;
  }
}
