$primary-color: #4f372f;
$primary-color-hover: #4f372f;
$background-color: #fff;
$nav-background-color: #4f372f;
$primary-color-dark: #36231c;
$primary-white: #fff;
$secondary-white: #f8f9fa;
$tertiary-white: #e8e8e8;
$primary-black: #000;
$primary-gray: #8a94a4;
$secondary-gray: #2c2c2c;
$primary-shadow: #00000024;
