$primary-color: #4f372f;
$primary-color-hover: #4f372f;
$secondary-color-hover: #CCCCCC;
$background-color: #ffffff;
$nav-background-color: #4f372f;
$primary-color-dark: #36231C;
$primary-white: #FFF;
$secondary-white: #F8F9FA;
$tertiary-white: #e8e8e8;
$primary-black: #000;
$secondary-black: #121212;
$primary-gray: #8A94A4;
$secondary-gray: #2C2C2C;
$tertiary-gray: #464646;
$primary-shadow: #00000024;
$primary-border-color: #EEE;
$quaternary-gray: #5F5F5F;
