@use '../../styles/colors' as *;

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: center;
  margin: 0 auto;
  width: 75%;

  &__search {
    align-items: center;
    border: 0.0625rem solid $primary-gray;
    border-radius: 0.5rem;
    display: flex;
    height: 2.75rem;
    position: relative;
    width: 100%;
  }

  &__search-img {
    height: 1.2319rem;
    left: 0.875rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1.2319rem;
  }

  &__search-input {
    border: none;
    color: $secondary-gray;
    flex: 1;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    padding-left: 4.6431rem;

    &:focus {
      border-color: transparent;
    }
  }

  &__card {
    background: $secondary-white;
    display: flex;
    gap: 1.5rem;
    padding: 2.5rem;
    width: 100%;
  }

  &__items-card {
    align-items: start;
    background: $background-color;
    box-shadow: 0 0.125rem 0.875rem 0 $primary-shadow;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    justify-content: start;
    padding: 1.25rem 1rem;
    width: 60%;
  }

  &__tabs {
    display: flex;
    gap: 0.75rem;
  }

  &__tab {
    align-items: center;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: none;
    transition: background-color 0.3s;
    width: 6.5rem;

    &:hover {
      background-color: $secondary-color-hover;
    }
  }

  &__tab-img {
    border-radius: 3.125rem;
    height: 5.125rem;
    padding: 0.25rem;
    width: 5.125rem;

    &--active {
      border: 0.125rem solid $primary-color;
    }
  }

  &__tab-text {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    height: 2.375rem;
    justify-content: center;
    letter-spacing: 0.5px;
    margin: 1rem 0 0.5rem;

    &--active {
      font-weight: 600;
    }
  }

  &__tab-line {
    background-color: $primary-color;
    height: 0.125rem;
    margin: 0 auto;
    width: 95%;
  }
}
