@use '../../styles/colors' as *;

.header-container {
  background: $primary-color;
  height: 3.25rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__tabs {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__tab {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    outline: none;
    transition: background-color 0.3s;
    width: 14.5rem;

    &:hover {
      background-color: $primary-color-hover;
    }

    &--active {
      border-bottom: 0.3125rem solid $primary-white;
    }
  }

  &__text {
    color: $primary-white;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__img {
    margin-bottom: 0.5rem;
    width: 100%;
    object-fit: cover;
    height: 9.375rem;
  }
}

.main-content {
  margin-top: 13.5rem;
  overflow-y: auto;
}